<a href="https://colab.research.google.com/github/rolozanod/mexico_fuel_guided_project/blob/main/Sessions/ColabSession2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/rolozanod/mexico_fuel_guided_project.git

Cloning into 'mexico_fuel_guided_project'...
remote: Enumerating objects: 59, done.
remote: Counting objects: 100% (59/59), done.
remote: Compressing objects: 100% (57/57), done.
remote: Total 59 (delta 21), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (59/59), done.

In [2]:
!pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 5.7MB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 12.6MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/47/c2/67d1d0acbaaee3b03e5e22e3b96c33219cb5dd392531c9ff9cee7c2eb3e4/Fiona-1.8.18-cp37-cp37m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 246kB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from pyproj>=2.2.0->geopandas) (2020.12.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Installing collected packages: pyproj, click-plugins, cligj, munch, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1

In [3]:
 !unzip /content/mexico_fuel_guided_project/data.zip -d /content/mexico_fuel_guided_project

Archive:  /content/mexico_fuel_guided_project/data.zip
  inflating: /content/mexico_fuel_guided_project/capacity.csv
  inflating: /content/mexico_fuel_guided_project/demand.csv
  inflating: /content/mexico_fuel_guided_project/short_censo2020.csv

In [4]:
import os
os.chdir('mexico_fuel_guided_project')
os.getcwd()

'/content/mexico_fuel_guided_project'

In [5]:
from modules.sessions import Session2 as sess

In [6]:
coords = sess().get_coords()

/content/mexico_fuel_guided_project/modules/data.py:62: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  coords['centroid'] = coords.geometry.centroid
/content/mexico_fuel_guided_project/modules/data.py:72: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  coords['lat'] = coords.centroid.apply(lambda r: r.x)
/content/mexico_fuel_guided_project/modules/data.py:73: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  coords['lon'] = coords.centroid.apply(lambda r: r.y)
/content/mexico_fuel_guided_project/modules/data.py:62: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  coords['centroid'] = coords.geometry.centroid
/content/mexico_fuel_guided_project/modules/data.py:72: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  coords['lat'] = coords.centroid.apply(lambda r: r.x)
/content/mexico_fuel_guided_project/modules/data.py:73: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  coords['lon'] = coords.centroid.apply(lambda r: r.y)

In [14]:
sess().get_pop().sample(5)

      state_key                            state  ...    hab_houses cars_per_house
1253         26                           Sonora  ...   4270.047104    2923.662242
1460         30  Veracruz de Ignacio de la Llave  ...  26133.173292    8657.433798
191           8                        Chihuahua  ...   2667.628445    1022.747323
1387         30  Veracruz de Ignacio de la Llave  ...   2177.632751      33.589908
1302         28                       Tamaulipas  ...  18180.999596   14017.163910

[5 rows x 7 columns]

In [16]:
sess().get_demand().sample(5)

               state  year       MBBL
24           Chiapas  2021  16.152664
8    Baja California  2020  41.113937
68           Jalisco  2020  45.443377
25         Chihuahua  2017  33.745117
126           Sonora  2018  24.567998

In [19]:
sess().calc_fpc(sess().get_pop(), sess().get_demand(), regress = False).describe()

         state_key      loc_key  ...  cars_per_house      LOC_FUEL
count  1660.000000  1660.000000  ...     1660.000000   1592.000000
mean     18.893373    75.259036  ...     9843.848193    538.066345
std       8.025957    95.435282  ...    31379.517604   1592.780941
min       1.000000     1.000000  ...        0.000000     13.176932
25%      13.000000    18.000000  ...      547.667818     46.037867
50%      19.000000    46.000000  ...     1412.262757    101.113781
75%      26.000000    93.000000  ...     4462.123439    289.838634
max      32.000000   570.000000  ...   391729.063868  22050.490865

[8 rows x 6 columns]

In [20]:
sess().get_price_dataframe()

/content/mexico_fuel_guided_project/modules/data.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily['date'] = pd.to_datetime(daily.date, format='%d/%m/%Y')

            date                            state      price
0     2017-01-01                   Aguascalientes  17.162569
1     2017-01-01                  Baja California  17.068158
2     2017-01-01              Baja California Sur  17.074159
3     2017-01-01                         Campeche  16.626283
4     2017-01-01                          Chiapas  16.827494
...          ...                              ...        ...
48635 2021-02-28                       Tamaulipas  18.224781
48636 2021-02-28                         Tlaxcala  19.576055
48637 2021-02-28  Veracruz de Ignacio de la Llave  19.635799
48638 2021-02-28                          Yucatán  20.375743
48639 2021-02-28                        Zacatecas  19.914063

[48640 rows x 3 columns]

In [21]:
sess().create_fuel_dataframe()

TypeError: ignored